@import './variables.scss';

*:focus {
  outline: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

:root {
  // 다크모드 방지
  color-scheme: light only;
}

body,
input,
select,
button,
textarea {
  font-family: 'Noto Sans KR', 'sans-serif';
}

button {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  height: 100vh;
  margin: 0 auto;
}

body.touch-start {
  overscroll-behavior-y: none;
}

// layout
.container {
  min-height: 100%;
  background-color: var(--mainBg);

}

// inner
.pageTop {
  margin-top: 50px;
}

.pageBottom {
  margin-bottom: 20px;
}

.wrapper {
  width: 100%;
  padding: $wrap-base1;
  box-sizing: border-box;

  &.wrap_2 {
    @extend .wrapper;
    padding: $wrap-base2;
  }

  &.wrap_3 {
    @extend .wrapper;
    padding: $wrap-base3;
  }
}

// main
.main {
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 100%;
  overflow: hidden;

  &::v-deep>div {
    border-radius: 12px;
  }

  ::v-deep .not-login {
    text-align: center;

    h3 {
      font-weight: var(--fontweight-bold);
      font-size: var(--fontsize-large);
    }

    p {
      margin: 30px 0 50px;
      font-weight: var(--fontweight-medium);
      font-size: var(--fontsize-large);
    }

    .flex {
      gap: 20px;
      justify-content: center;

      button {
        flex-basis: 120px;
      }
    }
  }
}

// boxModel
.flex {
  display: flex;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

//variable
.overHideen {
  overflow: hidden !important;
}

.displayNone {
  display: none !important;
}

// hidden
.displayHidden {
  overflow: hidden;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

// layout -CTA

// 기본옵션
.bsc-otp-wrap {
  padding-top: 24px;
}

// input[radio] - options
ul.options {
  // 옵션 단독 타입(내용 짧을 때)
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0 20px;
  gap: 8px;

  li {
    position: relative;
    flex-basis: 100%;

    &.lists {
      flex-basis: auto;
      flex-grow: 1;
    }
  }

  input[type='radio'],
  input[type='checkbox'] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    &+label {
      display: inline-block;
      width: 100%;
      height: 36px;
      box-sizing: border-box;
      line-height: 36px;
      padding: $wrap-base1;
      font-size: var(--fontsize-medium);
      text-align: center;
      border: 1px solid $gray05;
      border-radius: 12px;
      color: $gray07;
    }

    &:checked+label {
      border-color: $gray07;
      box-shadow: 0 0 10px 0 rgba(75, 77, 77, 0.15);
      color: $gray07;
      background-color: #fff;
      font-weight: var(--fontweight-bold);
    }
  }

  input[type='radio'] {
    &:checked+label:after {
      display: none !important;
    }

    +label {

      &:before,
      &:after {
        display: none;
      }
    }
  }

  input[type='checkbox'] {
    &:checked+label {
      border-color: $gray07;
      box-shadow: 0 0 10px 0 rgba(75, 77, 77, 0.15);
      color: $gray01;
      background-color: $gray07;
      font-weight: var(--fontweight-bold);

      &::after {
        content: '';
        display: inline-block;
        vertical-align: -2px;
        width: 18px;
        height: 18px;
        margin-left: 7px;
        border: none;
        background: url('../img/icon/icon_check.svg') no-repeat 50% 50% / contain;
      }
    }
  }

  &.multiple {
    width: 100%;
    gap: 16px;
    flex-wrap: inherit;

    &.quantity {
      flex-wrap: wrap;
    }

    li {
      width: 100%;
    }
  }

  &.opt-section {
    li {
      display: flex;
      flex-basis: 100%;
      font-size: var(--fontsize-medium);
      height: auto;

      >i {
        display: inline-block;
        vertical-align: top;
        width: 48px;
        height: 48px;
        margin-right: 8px;
        border-radius: 4px;
        background-color: $gray04;
      }

      .section-info {
        display: flex;
        justify-content: space-between;
        flex: 1 1 100%;

        .title {
          margin-top: 0;
        }
      }
    }
  }

  &.desc {
    >li {
      display: grid;
      place-items: center;
      font-size: 0;

      >ul.options {
        margin: 8px 0;
      }

      >i {
        display: inline-block;
        vertical-align: top;
        width: 48px;
        height: 48px;
        margin-right: 8px;
        border-radius: 4px;
        background-color: $gray04;

        +input[type='radio'],
        +input[type='checkbox'] {
          &+label {
            width: calc(100% - 56px);
          }
        }
      }

      >input[type='radio'],
      >input[type='checkbox'] {
        &+label {
          width: 100%;
          line-height: 1;
          padding: 0 20px 0 0;
          position: relative;
          border: 0;
          font-size: var(--fontsize-medium);
          color: #343a40;
          font-weight: var(--fontweight-medium);
          text-align: left;

          &:before,
          &:after {
            display: block;
          }

          .info-wrap {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            height: 100%;

            span {
              flex-basis: 100%;
              font-size: var(--fontsize-medium);
              height: auto;
            }

            .title {
              font-weight: var(--fontweight-medium);
              max-height: 28px;
              overflow: hidden;
              line-clamp: 2;
              -webkit-line-clamp: 2;
            }
          }
        }
      }

      >input[type='radio'] {
        +label {
          &:before {
            content: '';
            width: 20px;
            height: 20px;
            margin-top: -10px;
            position: absolute;
            top: 50%;
            right: 0;
            border: 1px solid $gray04;
            border-radius: 50%;
            box-sizing: border-box;
            background: #fff;
          }

          &:after {
            content: '';
            display: none;
            width: 12px;
            height: 12px;
            margin-top: -6px;
            position: absolute;
            top: 50%;
            right: 4px;
            background-color: $gray08;
            border-radius: 50%;
          }
        }

        &:checked+label {
          &:after {
            display: block !important;
          }

          box-shadow: none;
          background: none;
          color: $gray07;
        }
      }

      >input[type='checkbox'] {
        +label {
          &:before {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 18px;
            height: 18px;
            transform: translate(0, -50%);
            border: 1px solid #d7d8d9;
            border-radius: 2px;
            box-sizing: border-box;
            background-color: #fff;
          }
        }

        &:checked+label {
          background: none;
          box-shadow: none;

          &:before {
            content: '';
            width: 18px;
            height: 18px;
            border: none;
            background: $gray08 url('../img/icon/icon_white_down_arrow.svg') no-repeat 50% 6px / 12px 7px;
          }
        }
      }
    }
  }

  // 메인 옵션
  &.main-option {
    width: calc(100% - 24px);
    margin: 16px auto 24px;
    gap: 0;
    background: $gray03;
    border-radius: 99px;

    li {
      flex: auto;

      input:checked+label {
        background: var(--pointColor);
        color: var(--pointfontColor);
      }

      label {
        width: 100%;
        box-sizing: border-box;
        border: none;
        border-radius: 99px;
        transition: all 0.3s;
      }
    }
  }

  // 옵션 리스트 타입(내용 길 때)
  &.list {
    li {
      flex-basis: 100%;
    }

    input {
      opacity: 1;
    }
  }

  &.sub {
    li {
      flex: 0 0 auto;
    }

    input[type='radio']+label,
    input[type='checkbox']+label {
      border: none;
      box-shadow: none;
    }

    input[type='radio']:checked+label,
    input[type='checkbox']:checked+label {
      border-radius: 12px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

// 옵션 타이틀
.prdt-option {
  h3.title {
    height: 32px;
    line-height: 32px;
    padding: 0 8px;
    overflow: hidden;
    font-size: var(--fontsize-medium);
    font-weight: var(--fontweight-medium);
    background: $gray01;
    border-radius: 8px;

    span {
      &.left {
        float: left;
      }

      &.right {
        float: right;
      }
    }

    button {
      font-size: inherit;
      font-weight: inherit;
    }
  }
}

// 수량
.btn-quantity {
  overflow: hidden;

  h3.quantity-title {
    float: left;
    line-height: 32px;
    font-weight: var(--fontweight-medium);

    &.expanded {
      float: initial;
    }
  }

  // 수량 단독 타입
  .btn-wrap {
    float: right;

    button {
      width: 24px;
      height: 24px;
      position: relative;
      border: 1px solid $gray07;
      border-radius: 50%;
      transition: all 0.3s;
      background-color: #fff;

      &:disabled {
        border-color: #e3e3e6;
        background: #e3e3e6;

        &:before,
        &:after {
          background-color: #9b9c9e;
        }
      }

      &:before {
        content: '';
        width: 12px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $gray07;
        transition: all 0.3s;
      }

      &:after {
        content: '';
        width: 1px;
        height: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $gray07;
        transition: all 0.3s;
      }

      &.minus:after {
        display: none;
      }
    }
  }

  // 수량 리스트 타입
  &.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    .sub-title {
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 4px;
      width: calc(100% - 150px);
      line-height: 16px;
      font-size: var(--fontsize-medium);
      flex: 1;

      >span {
        display: block;
      }
    }

    .option-info {
      float: initial;
    }
  }

  .option-info {
    float: right;

    .cost {
      height: 32px;
      margin-right: 8px;
      line-height: 32px;
      font-size: 13px;
    }
  }

  .number {
    display: inline-block;
    height: 24px;
    padding: 0 5px;
    font-size: var(--fontsize-large);
    line-height: 1.5;
    vertical-align: top;
    text-align: center;
  }
}

// button
// [primary] 비활성화/ 미선택 기본
.btn-primary {
  display: inline-block;
  width: 100%;
  padding: 15.2px 0;
  background-color: var(--pointColor);
  box-sizing: border-box;
  color: var(--pointfontColor);
  font-size: var(--fontsize-large);
  font-weight: var(--fontweight-bold);
  line-height: 1;
  letter-spacing: -0.3px;

  // 활성화/선택
  &.selected {
    @extend .btn-primary;
    background-color: $gray09;

    span {
      color: $gray01;
    }
  }

  // 선택불가
  &.disabled {
    @extend .btn-primary;
    background-color: $gray04;

    span {
      color: $gray06;
    }
  }
}

// button
// [secondary] 비활성화/ 미선택 기본
.btn-secondary {
  @extend .btn-primary;
  background-color: $gray00;
  border: solid 1px $gray05;
  color: $gray07;
  font-size: var(--fontsize-large);
  line-height: 1;
  letter-spacing: -0.3px;

  // 활성화/선택
  &.selected {
    @extend .btn-primary;
    background-color: #fff;
    border: solid 1px $gray07;

    span {
      color: $gray07;
    }
  }

  // 선택불가
  &.disabled {
    @extend .btn-primary;
    background-color: $gray01;
    border: solid 1px $gray03;

    span {
      color: $gray06;
    }
  }
}

// list-contents
.btn-list {
  display: flex;

  button {
    flex: 1 1 auto;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--fontsize-xsmall);
    background-color: #fff;
    font-size: var(--fontsize-xsmall);
    font-weight: var(--fontweight-medium);
    color: $gray08;

    &::before {
      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      width: 24px;
      height: 24px;
    }
  }
}

// samll-btn
.cancel-btn {
  span {
    font-size: var(--fontsize-medium);
    font-weight: var(--fontweight-medium);
    color: $gray07;
    word-break: keep-all;
  }
}

// round button
.btn.round {
  min-width: 100px;
  height: 48px;
  font-size: var(--fontsize-large);
  font-weight: var(--fontweight-medium);
  border-radius: 999px;
  line-height: 48px;
  text-align: center;
  border: 1px solid $gray09;

  &.fill {
    border: 0;
    background-color: var(--pointColor);
    color: var(--pointfontColor);
  }

  &.disabled {
    border: 0;
    background-color: $gray04;
    color: $gray06;
  }
}

// brutalism
[data-theme='brutalism'] {
  .menu-panel {
    width: 20px;
    height: 20px;
    position: relative;

    .menu-open {
      width: 16px;
      height: 1.5px;
      position: absolute;
      top: 50%;
      left: 0;
      padding: 0;
      background: $gray09 none;
      border-radius: 25px;

      &:before {
        content: '';
        width: 12px;
        height: 1.5px;
        position: absolute;
        top: -5px;
        left: 0;
        border-radius: 25px;
        background: $gray09;
      }

      &:after {
        content: '';
        width: 12px;
        height: 1.5px;
        position: absolute;
        bottom: -5px;
        left: 0;
        border-radius: 25px;
        background: $gray09;
      }
    }
  }

  div.txt {
    background: #fbf6ef;
    border-radius: 8px;

    input {
      border: none;

      &::placeholder {
        color: #5a5a5a;
      }

      &+button.del {
        background-image: url('../img/icon/brutalism/icon_search_del.svg');
      }
    }

    button.eye {
      top: 34px;
      width: 24px;
      height: 24px;
      background-image: url('../img/icon/brutalism/icon_closed_eye.svg');

      &.open {
        background-image: url('../img/icon/brutalism/icon_eye.svg');
      }
    }
  }

  .btn.round {
    // border-radius:8px;
    color: $gray09;

    &.fill {
      background: var(--pointColor);
      border: 1px solid $gray09;
    }

    &.disabled {
      border: 0;
      background-color: #c6b2a6;
      color: #fff;
    }
  }

  .btn-primary {

    // 선택불가
    &.disabled {
      @extend .btn-primary;
      border: 0;
      background-color: #c6b2a6;

      span {
        color: #fff;
      }
    }
  }

  .btn.round {
    border-width: 2px;
    line-height: 46px;

    &.fill {
      line-height: 34px;
      border: 2px solid $gray09;
    }
  }

  .register .enrol_form div.txt {
    .tit {
      color: #5a5a5a;
    }

    input,
    select {
      background: #fbf6ef;
    }

    input:disabled {
      background: #dfd4cd;
    }

    input::placeholder {
      color: #b0b0b0;
    }
  }
}

[data-theme='paulbassett'] {
  .btn.round.fill {
    background: $paulBassettFill;
  }
}

// error message
.error {
  margin-top: 8px;
  font-size: var(--fontsize-xsmall);
  font-weight: var(--fontweight-regular);
  line-height: 1.7;
  color: #ff5a78;
}

.errorBorder {
  border-color: #ff5a78 !important;
}

.section-devide {
  border-top: 4px solid $gray02;
}

.toast {
  position: fixed;
  bottom: 140px;
  left: 50%;
  opacity: 0;
  text-align: center;
  line-height: 22px;
  white-space: nowrap;
  font-size: var(--fontsize-large);
  transform: translate(-50%, 0);
  border-radius: 25px;
  color: #fff;
  padding: 10px 16px;
  background-color: rgba(0, 0, 0, 0.7);
  word-break: keep-all;
  z-index: 999999;

  &.on {
    opacity: 1;
  }

  .icon {
    position: relative;
    padding-left: 24px;

    &::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 8px;
      width: 16px;
      height: 16px;
      background-color: $gray08;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }

    &::after {
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      width: 16px;
      height: 16px;
      mask-image: url('../../assets/img/icon/icon_arrow.svg');
      background-color: #fff;
    }
  }
}

// 링크 요소 혹은 화살표있는 항목들
.link,
.arrow {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 4px;
    width: 24px;
    height: 24px;
    transform: translate(0, -50%);
    background: url('../img/icon/icon_gray_arrow.svg') no-repeat center / contain;
  }

  &.expand:after {
    transform: rotate(-90deg);
  }

  &.expand.fold:after {
    transform: rotate(90deg);
  }
}

// 툴팁
.tooltip {
  width: 16px;
  height: 16px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  right: 0;
  background: url('../../assets/img/icon/icon_tooltip.svg') no-repeat 50% 50%;
}

// 탭
.tab-list {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $gray04;

  &.sticky {
    position: sticky;
    top: 56px;
    background-color: var(--mainBg);
    z-index: 20;
    box-shadow: 0 4px 12px 0 rgba(72, 80, 87, 0.15);
  }

  li {
    flex-grow: 1;

    button {
      width: 100%;
      height: 40px;
      line-height: 40px;
      position: relative;

      .title {
        font-size: var(--fontsize-medium);
        font-weight: var(--fontweight-bold);
        color: $gray06;
      }

      .desc {
        margin-left: 4px;
        font-size: var(--fontsize-xsmall);
        color: $gray05;
      }

      &.active {
        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background-color: var(--surface-primary);
        }

        .title {
          color: $gray08;
        }

        .desc {
          color: $gray07;
        }
      }
    }
  }
}

.on-off-btn {
  width: 100%;

  input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0;

    &:checked+label {
      i {
        &:before {
          left: calc(100% - 20px);
          background: $gray09;
          border-color: $gray09;
        }
      }
    }
  }

  label {
    display: block;
    position: relative;
    width: 100%;
    font-size: var(--fontsize-medium);

    &+button {
      font-size: var(--fontsize-xsmall);
    }

    i {
      position: absolute;
      top: 50%;
      right: 0;
      width: 36px;
      height: 20px;
      transform: translate(0, -50%);

      &:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: 50%;
        left: 0;
        z-index: 99;
        box-shadow: 0 0 4px 0 rgba(38, 38, 39, 0.4);
        border: solid 1px #b0b0b0;
        background: #fff;
        border-radius: 50%;
        transform: translate(0, -50%);
        transition: all 0.3s;
        box-sizing: border-box;
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 36px;
        height: 12px;
        border-radius: 99px;
        background-color: $gray04;
      }
    }
  }
}

// 카드 로고 모음
/*
CCKM - 국민카드
CCBC - BC카드
CCNH - NH농협카드
CCSG - 씨티카드
CCHM - 씨티카드
CCAM - 롯데아멕스카드
CCLO - 롯데카드
CCHN - 하나카드
CCSS - 삼성카드
CCUF - 은련카드
CCKJ - 광주카드
CCSU - 수협카드
CCJB - 전북카드
CCCJ - 제주카드
CCLG - 신한카드
CVSF - 해외비자
CMCF - 해외마스터
CJCF - 해외JCB
CCKE - 하나카드(외환)
CCDI - 현대카드
*/
.card-logo {
  &.ccdi {
    background-image: url('../img//card//card_hyundai.png');
  }
}

// DatePicker
.mx-btn {
  color: $gray09 !important;
}

.mx-btn-text {
  color: $gray09 !important;
}

.mx-calendar-content .cell {
  height: 40px;
  line-height: 40px;

  &.active {
    background-color: none !important;

    >div {
      background: $gray09;
    }
  }
}

.mx-calendar-content .cell:hover {
  color: $gray09 !important;
  background: none !important;
}

.mx-datepicker {
  width: 100%;
  padding: 0;
  margin-bottom: 24px;

  .mx-datepicker-main {
    border: none;
    font-family: 'Noto Sans KR', 'sans-serif';

    .mx-calendar {
      width: 100%;
    }

    .mx-calendar-header {
      width: 70%;
      margin: 0 auto;
    }

    .mx-calendar-header-label {
      color: $gray09;
    }

    .mx-calendar-content {
      height: auto;
    }

    .mx-table-date .today {
      background: none;

      div {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-bottom: 2px solid $gray05;
        box-sizing: border-box;
      }
    }

    .mx-table-date .active {
      background: none;

      div {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        background: $gray09;
        color: #fff;
        border-bottom: none;
      }
    }

    .mx-table-date thead th {
      border-bottom: 1px solid $gray04;
    }

    .mx-table-date td,
    .mx-table-date th {
      height: 40px;
      font-size: var(--fontsize-medium);
      font-weight: var(--fontweight-medium);
      color: $gray09;
    }

    .mx-table-date td {
      padding: 2px;
    }

    .not-current-month {
      color: $gray05 !important;
    }

    .mx-table-year,
    .mx-table-month {
      margin-top: 10px;
    }
  }
}

.no-list {
  &:before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    flex-basis: 1 1 100%;
    margin: 0 auto 16px;
    background: url('../img//icon/icon_no_list.svg') no-repeat 50% 50%;
  }

  margin-top: 50%;
  text-align: center;
  font-size: var(--fontsize-medium);
  color: $gray06;
}

.component-block {
  display: block;
  width: 100%;
  margin: 30px 0;
  padding: 0 20px;
  background: #fff;
  box-sizing: border-box;

  &.full {
    padding: 0;
  }
}

// layout
.container {
  padding-top: 56px;
  box-sizing: border-box;
}

.menu-panel {
  .menu-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 15px;
    padding: 20px 18px;
    background: url('../../assets/img/icon/icon_menu_pannel.svg') no-repeat 50% 50% / contain;
  }
}

// menu-panel
.pannel {
  visibility: hidden;
  position: fixed;
  // left: -100vw;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  background: var(--mainBg);
  opacity: 0;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  overflow-y: scroll;
  transform: translateX(-100vw);

  &.on,
  &.mypage {
    visibility: visible;
    // left: 0;
    transform: translateX(0);
    opacity: 1;
    height: 100%;
    // 모바일 디바이스 메뉴 패널 디바이스 이슈로 100% 해제
    // height:100%;
  }

  &.mypage,
  &.none {
    transition: none;
  }
}

// signup
.register {
  box-sizing: border-box;
  padding: $wrap-base3;

  div.txt {
    input {
      font-size: 14px;
    }
  }

  .welcome-message {
    text-align: center;

    .txt {
      margin-top: 40px;
      background: none;

      strong {
        font-size: var(--fontsize-large);
        font-weight: var(--fontweight-bold);
        letter-spacing: -0.3px;
        line-height: 1.4;
        color: $gray08;
      }

      p {
        margin-top: 40px;
        font-size: var(--fontsize-medium);
        font-weight: var(--fontweight-medium);
        color: $gray08;
      }
    }
  }

  .message {
    margin-top: 12px;

    p {
      font-size: 24px;
      font-weight: var(--fontweight-bold);
      color: $gray08;
      line-height: 1.1;
    }
  }

  .enrol_form {
    margin: 32px 0 112px;
    box-sizing: border-box;

    div.txt {
      background: none;

      span {
        display: inline-block;
        line-height: 1;
      }

      .tit {
        font-size: var(--fontsize-medium);
        font-weight: var(--fontweight-bold);
        color: $gray08;

        span.choice {
          margin-left: 4px;
          font-size: var(--fontsize-xsmall);
          color: $gray05;
          font-weight: normal;
        }

        &.topTxt {
          font-size: var(--fontsize-large);
        }
      }

      input,
      select {
        position: initial;
        display: inline-block;
        height: 40px;
        margin-top: 12px;
        background: #fff;
      }

      input.errorBorder {
        border: solid 1px #ff5a78;
      }

      input:disabled {
        color: $gray06;
        background-color: $gray03;
      }

      .titTop {
        >input {
          margin-right: 8px;
        }
      }
    }

    .txt+.txt {
      margin-top: 20px;
    }
  }

  .confirmBtn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    .wrapper {
      padding: 16px;

      button {
        width: 100%;
        padding: 14.8px 0;
        margin-top: 0;
        border-radius: 999px;

        span {
          font-weight: var(--fontweight-bold);
        }
      }
    }

    &.shadow {
      box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.15);
    }
  }
}

//members / 약관
.agree-terms {
  overflow: auto;
  box-sizing: border-box;

  .welcome-message {
    margin-top: 21px;

    .txt {
      margin-top: 21px;

      p {
        margin-top: 9.5px;
      }
    }
  }

  .terms {
    margin-top: 40px;

    .allChk {
      label {
        padding: 6px 4px;

        span {
          font-size: var(--fontsize-large);
          // line-height: 1.75;
          font-weight: var(--fontweight-bold);
        }
      }
    }

    ul {
      margin-top: 4px;
      margin-bottom: 112px;
      border-top: 1px solid $gray04;
      box-sizing: border-box;

      li {
        margin-top: 4px;

        .chk {
          justify-content: space-between;
          height: 28px;

          input+label::after {
            content: '';
            position: absolute;
            top: 9px;
            display: inline-block;
            width: 11px;
            height: 11px;
            transform: rotate(-90deg);
            background: url('../img/icon/icon_arrow.svg') center no-repeat;
          }

          &.right {
            label {
              padding-left: 4px;
            }
          }

          &.chk-terms {
            justify-content: flex-start;

            label:after {
              display: none;
            }

            button:after {
              content: '';
              position: absolute;
              top: 9px;
              display: inline-block;
              width: 11px;
              height: 11px;
              transform: rotate(-90deg);
              background: url('../img/icon/icon_arrow.svg') center no-repeat;
            }
          }
        }
      }
    }
  }
}

// 회원가입, 아이디 찾기, 비밀번호 찾기 하단 버튼 영역
.confirmBtn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 14px 0;

  &.shadow {
    box-shadow: 0 -4px 16px 0 rgba(139, 140, 141, 0.3);
  }

  button {
    padding: 16px 0;
    border-radius: 999px;

    &.login {
      padding: 0;
      height: 48px;
      background-color: var(--pointColor);
      font-size: var(--fontsize-large);
      color: var(--pointfontColor);
    }
  }
}

// item list - productItemBasic, orderListItemBasic

.item-cont {
  width: 100%;
  position: relative;
  gap: 12px;
  text-align: left;

  .is-adult {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    font-weight: var(--fontweight-bold);
    line-height: 20px;
    border: 2px solid #fc121f;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 10;
    background: #fff;
    text-align: center;
  }

  .imgbox {
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: 84px;
    height: 84px;
    border-radius: 12px;
    background-color: $gray03;
    overflow: hidden;
    position: relative;
    // background:url('../../assets/img/sample_cafe.svg') no-repeat 50% 50% / contain;

    img {
      height: 100%;
      object-fit: cover;
    }

    .flag {
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% - 16px);
      background-color: #000;
      text-align: center;
      transform: translate(-50%, -50%);
      color: #fff;
    }
  }

  .info {
    flex: 2;
    max-width: calc(100% - 96px);
    letter-spacing: -0.2px;
    word-break: keep-all;

    .desc {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      height: 28px;
      color: $gray06;
      font-size: $font-xsmall;
      font-weight: normal;
    }

    .price {
      font-size: var(--fontsize-medium);
      font-weight: var(--fontweight-bold);
      color: $gray08;
    }

    .tit {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      font-size: var(--fontsize-medium);
      font-weight: var(--fontweight-bold);
      color: $gray08;
    }
  }

  &.main-item {
    position: relative;
    text-align: center;
    padding-top: 28px;

    .imgbox {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 72px;
      width: 72px;
      height: 72px;
      top: 0;
      left: 50%;
      background: #fff;
      border-radius: 50%;
      border: 1px dashed #4b4d4d;
      transform: translate(-50%, 0);
    }

    .info {
      padding-top: 57px;
      border-radius: 8px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
      background: #fff;

      .tit {
        display: block;
      }
    }
  }
}

.thumbnail {
  .item-cont {
    flex-wrap: wrap;

    .is-adult {
      position: absolute;
      top: 4px;
      left: 4px;
      width: 32px;
      height: 32px;
      font-size: var(--fontsize-large);
      font-weight: var(--fontweight-bold);
      line-height: 28px;
      border: 2px solid #fc121f;
      box-sizing: border-box;
      border-radius: 50%;
      z-index: 10;
      background: #fff;
      text-align: center;
    }

    .imgbox {
      max-width: 100%;
      height: 0;
      padding-top: 100%;
      flex: 0 0 100%;

      img {
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .info {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

// members (level, pointInfo)
.point-info,
.grade-info {
  .info-header {
    position: relative;

    h3 {
      height: 98px;
      padding: 24px 0;
      text-align: center;
      border-radius: 8px;
      background: #fff;
      box-sizing: border-box;

      span {
        display: block;
        margin-bottom: 10px;
        font-size: var(--fontsize-medium);
        font-weight: var(--fontweight-regular);

        &.point {
          font-size: 24px;
          font-weight: var(--fontweight-bold);
        }
      }
    }

    .show-barcode {
      padding: 8px;
      position: absolute;
      top: 8px;
      right: 8px;
      background: $gray04;
      border-radius: 4px;
      font-size: var(--fontsize-xsmall);
    }
  }

  .info-detail {
    padding: 60px 16px 25px;
  }
}

.expire-point-info,
.next-level-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;

  li {
    flex: 1 1 100%;
    display: flex;
    padding: 12px 16px;
    justify-content: space-between;
    font-size: var(--fontsize-medium);
    border-bottom: 1px solid $gray04;

    &:last-child {
      border: none;
    }

    .point,
    .level {
      font-weight: var(--fontweight-bold);
    }
  }
}

.point-noti {
  padding: 24px 16px;

  button {
    position: relative;
    width: 100%;
    height: 36px;
    padding: 0 8px;
    line-height: 30px;
    font-size: 1.6rem;
    font-weight: var(--fontweight-bold);
    text-align: left;
    border-bottom: 1px solid $gray05;

    &:after {
      content: '';
      width: 30px;
      height: 30px;
      position: absolute;
      top: 2px;
      right: 8px;
      mask-image: url('../img/icon/icon_select_arrow.svg');
      mask-position: center;
      mask-repeat: no-repeat;
      background: $gray07;
    }

    &.on:after {
      transform: rotate(180deg);
    }
  }

  ul {
    padding: 0 8px;
    margin-top: 20px;

    li {
      position: relative;
      line-height: 1.6;
      font-size: var(--fontsize-xsmall);
      word-break: keep-all;
      padding-left: 10px;

      &:before {
        content: '';
        width: 4px;
        height: 4px;
        position: absolute;
        top: 4px;
        left: 2px;
        background: $gray09;
        border-radius: 50%;
      }

      &:nth-child(n + 2) {
        margin-top: 10px;
      }
    }
  }
}

.point-gift-btn {
  display: block;
  width: calc(100% - 16px);
  height: 36px;
  line-height: 36px;
  margin: 16px auto 24px;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(38, 38, 39, 0.25);
  background-color: #fafbfb;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.skeleton-loading * {
  background: #e5e5e5 30%;
  border-radius: 1rem;
  background-size: 200% 100%;
  background-position: 100% 0;
}